/*////////////////////////////////////////////////////////////
Table of Contents:
1. Global Styles
2. Typography
3. Areas
    3.1 Aside
    3.2 Header
    3.3 Main
    3.4 Footer
/////////////////////////////////////////////////////////////*/

/*----------------------------------------------------Global Styles----------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

.container-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-basis: 0;
    flex-grow: 1;
}

ul {
    list-style: none;
}

/*----------------------------------------------------Typography----------------------------------------------------------------------------------*/

/*----------------------------------------------------Areas----------------------------------------------------------------------------------*/

/*---------------------------------3.1 Aside 1--------------------------------*/

.container-left {
    flex-basis: 250px;
    min-width: 250px;
    flex-shrink: 0;
    height: 100%;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nav-links ul li a img {
    max-width: 24px;
    display: block;
}

nav ul li a {
    /*border: 2px dotted yellow;*/
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li button {
    /*border: 2px dotted yellow;*/
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-buttons {
    /*border: 2px dotted yellow;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 0.5rem;
}

.nav-buttons button {
    /*border: 2px dotted yellow;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

/*---------------------------------3.2 Header 2--------------------------------*/

header {
    border: 4px dotted blue;
}

/*---------------------------------3.3 Main 2--------------------------------*/

main {
    border: 4px dotted pink;
}

/*---------------------------------3.4 Footer 2--------------------------------*/

footer {
    border: 4px dotted purple;
}